__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/

.vs/
.vscode/

artifacts/
*.pt

.ipynb_checkpoints/

# Ignore only raw source dataset, keep processed splits trackable
data/raw/**
!data/raw/
!data/raw/**/.gitkeep

