__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/

.vs/
.vscode/

artifacts/
*.pt

.ipynb_checkpoints/

# Keep folder structure, ignore actual dataset files
data/**
!data/
!data/**/
!data/**/.gitkeep

